.vscode/settings.json
.ipynb_checkpoints/SERIOUS-checkpoint.ipynb
imgProcessing/Screenshot from 2021-03-04 15-55-36.png
.gitignore
imgProcessing/speedprocessing1-2
imgProcessing/speedprocessing1
imgProcessing/speedprocessing2
PickleResults/Fit/a_fit_bounded_beforeXXspeed.pickle
PickleResults/Fit/delta_a_boundedXXspeed.pickle
PickleResults/Fit/xk_fit_bounded_beforeXXspeed.pickle
PickleResults/Simulations/DiffuseHeavisideSpatialCostEffort.pickle
PickleResults/Simulations/simulation.pickle
Figures/blockplots.png
Figures/blockplotsfix.png
Figures/corr_Dist&TM.png
Figures/corr.png
Figures/corrDist&PostVacs.png
Figures/corrDist&TM.png
Figures/corrhrz.png
Figures/cory.png
Figures/COSYNEplot.png
Figures/cosyneplot.txt
Figures/dualplot.png
Figures/dualplot2.png
Figures/example.png
Figures/FigANR2022.png
Figures/FigDist+TM_ON.png
Figures/PANEL_A.png
Figures/PANEL_A2.png
Figures/PANEL_B2.png
Figures/PANEL_Btest.png
Figures/recap1.png
Figures/rwd%.png
Figures/test1.png
Figures/test3.png
Figures/test4-1.png
Figures/test4.png
Figures/test5.png
Figures/test6.png
Figures/test7.png
Figures/test8.png
Figures/test11.png
Figures/track15min.png
dataStef.zip
