.vscode/settings.json
.ipynb_checkpoints/SERIOUS-checkpoint.ipynb
imgProcessing/Screenshot from 2021-03-04 15-55-36.png
.gitignore
imgProcessing/speedprocessing1-2
imgProcessing/speedprocessing1
imgProcessing/speedprocessing2
